# Copyright (c) 2016-2017 ForgeRock AS. Use of this source code is subject to the
# Common Development and Distribution License (CDDL) that can be found in the LICENSE file
# Copy this template to gke-env.cfg and adjust for your environment

# Tiller Project
OC_TILLER_PROJECT="sws-tiller"

# Set tiller namespace for helm
export TILLER_NAMESPACE=${OC_TILLER_PROJECT}

# Monitoring Project
OC_MONITORING_PROJECT="sws-monitoring"

# Openshift Project
OC_PROJECT="sws-tom1"

# Static (External) IP Address to assign to the Route
OC_ROUTE_IP="5.102.151.2"
